* {
    margin: 0%;
    box-sizing: border-box;
  }
  
  .contenedorA {
    width: 100%;
    height: 45px;
    padding-top: 15px;
    padding-left: 27px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    background: #1cd1b0;
  }
  .contenderB {
    width: 100%;
    height: 101px;
    padding-left: 28px;
    padding-top: 30px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    background: #00669f;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
    border: green solid;
  }
  .contenedorP {
    margin-top: 150px;
    margin-bottom: 150px;
    margin-left: 50px;
    margin-right: 50px;
    width: 300px;
    height: 550px;
    text-align: center;
    display: inline-block;
    background: #f3f3f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .imagesP {
    border-radius: 16px 16px 0px 0px;
  }
  
  .imagesA {
    border-radius: 50%;
    margin-top: -65px;
  }
  
  #icon-heart {
    position: absolute;
    color: red;
    margin-top: -235px;
    margin-left: -130px;
    font-size: 24px;
  }
  
  .textTitle {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
  }
  .textP {
    padding-top: 20px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #333333;
  }
  .button1 {
    width: 128.78px;
    height: 48.52px;
    background: #00669f;
    text-align: center;
    color: white;
    margin-top: 20px;
  }
  
  .footer {
    width: 100%;
    height: 51px;
    padding-top: 15px;
    color: white;
    background: #00669f;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  